.btn {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  font-size: 21px;
  color: $c-white;
  font-family: Circular;
  font-weight: 500;
  border: 0;
  cursor: pointer;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.btn-lg {
  min-width: 160px;
}

.btn+.btn {
  margin-left: 15px;
}
.btn-purple {
  background: $c-purple;
}

.btn-grey {
  background: $c-grey;
}
.btn-inverted {
  color: #48426A;
  font-size: 14px;
  background: rgba(255, 255, 255, .56);
}

.less-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-inverted {
  background: rgba(56, 49, 77, .42);
  font-size: 22px;
  color: #fff;
  font-weight: 900;
}
