.page-color {
  .col-right {
    .block-slider-wrapper {
      position: relative;
      z-index: 2;
      width: 100%;
      max-width: 730px;
      padding: 0 15px;
      margin: auto;
    }
    .block-featured-list {
      margin: auto;
      padding: 0;
      .slick-next,
      .slick-prev {
        color: #fff;
        cursor: pointer;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 30px;
        z-index: 1;
      }
      .slick-prev {
        left: 0;
      }
      .slick-next {
        right: 0;
      }
      .item {
        .img-wrapper {
          width: 400px;
          height: 400px;
          margin: auto;
          margin-bottom: 30px;
          img {
            width: 100%;
          }
        }
        .item-content {
          text-align: center;
          .summary,
          .item-heading,
          .item-description {
            color: #fff;
            text-align: center;
          }
          .summary {
            margin-bottom: 0;
            font-size: 9px;
            color: #fff;
            font-family: Lato;
            font-style: italic;
          }
          .item-heading {
            margin-bottom: 70px;
            font-family: Circular;
            font-weight: 700;
            font-size: 35px;
            color: #FFFFFF;
            letter-spacing: -1.5px;
            line-height: 39px;
          }
          .item-description {
            margin-bottom: 50px;
            font-family: Lato;
            font-weight: 400;
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: -0.05px;
            line-height: 25px;

            img {
              display: block;
              height: 50px;
              margin: auto;
              margin-bottom: 50px;
            }
          }
        }
        .item-action {
          text-align: center;
          .btn {
            opacity: 0.56;
            background: #FFFFFF;
            border-radius: 100px;
            /* Select: */
            font-family: Circular;
            font-weight: 500;
            font-size: 14px;
            color: #48426A;
            letter-spacing: 2.82px;
            line-height: 23px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}