.page-color {
  .col-right {
    .block-featured-list {
      margin: auto;
      padding: 0;
      .item {
        .img-wrapper {
          width: 200px;
          height: 200px;
          margin: auto;
          margin-bottom: 30px;
          img {
            width: 100%;
          }
        }
        .item-content {
          text-align: center;
          .summary,
          .item-heading,
          .item-description {
            color: #fff;
            text-align: center;
          }
          .summary {
            margin-bottom: 0;
            font-size: 9px;
            color: #fff;
            font-family: Lato;
            font-style: italic;
          }
          .item-heading {
            font-size: 17px;
            font-family: Circular;
          }
          .item-description {
            margin-bottom: 30px;
            max-width: 700px;
            img {
              display: block;
              height: 25px;
              margin: auto;
              margin-bottom: 30px;
            }
          }
        }
        .item-action {
          text-align: center;
        }
      }
    }
  }
}