.page-complete {
  min-height: 100vh;
  flex: 1;
  -webkit-flex: 1;
  display: flex;
  align-items: center;
  padding: 15px;
  width: 100%;
  max-width: 100%;
  background: $c-purple;
  background-size: 100%;
  background-position-x: 50px;
  font-family: Circular;
  text-align: center;
  * {
    color: #fff;
  }
  .inner-wrapper {
    width: 100%;
  }
  .status {
    font-size: 35px;
    font-weight: 700;
  }
  .txt {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  progress {
    background: #8b4de5;
    progress[value]::-webkit-progress-bar {
      border-radius: 50px;
      height: 20px;
      box-shadow: none;
      background: #E6E6E6;
    }
    progress[value]::-webkit-progress-value {
      border-radius: 50px 0 0 50px;
      -moz-transform: skew(-10deg, 0);
      -ms-transform: skew(-10deg, 0);
      -o-transform: skew(-10deg, 0);
      transform: skew(-10deg, 0);
      background: #4BE2A1;
    }
  }
}