.heading2 {
  font-family: Circular;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: -2.5px;
  line-height: 49px;
}
.heading3 {
  font-family: Circular;
  font-size: 35px;
  letter-spacing: -2px;
  line-height: 37px;
}
.heading4 {
  font-family: Circular;
  font-weight: 500;
  font-size: 26px;
  letter-spacing: -1.1px;
  line-height: 28px;
}
.paragraph-lg {
  font-family: Circular;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: -0.3px;
  line-height: 19px;
}
.paragraph-md {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.28px;
  line-height: 22px;
}
.general-btn-white {

}