.page-index {
  .col-right {
    flex: 1;
    -webkit-flex: 1;
    display: flex;
    align-items: center;
  }
  .block-featured-list {
    max-width: 980px;
    margin: auto;
    padding-left: 0;
    .item {
      display: inline-block;
      marign-bottom: 20px;
      &:hover {
        .img-wrapper {
          border: 2px solid #fff;
        }
      }
      .img-wrapper {
        margin: auto;
        border: 2px solid rgba(181, 142, 255, 0.39);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        line-height: 150px;
        text-align: center;
        vertical-align: middle;
        background: rgba(181, 142, 255, 0.39);
        img {
          width: 50%;
        }
      }
      .txt {
        margin: 10px 0 20px;
        font-size: 23px;
        color: #fff;
        font-family: 'Circular';
        font-weight: 300;
        text-align: center;
      }
    }
  }
}
@media (min-width: 1600px) {
  .page-index {
    .col-right {}
    .block-featured-list {
      .item {
        .img-wrapper {
          width: 250px;
          height: 250px;
          line-height: 250px;
        }
        .txt {
          margin : 10px 0 40px;
        }
      }
    }
  }
}
@include media-breakpoint-down(lg) {
  .page-index {
    .block-featured-list {
      .item {
        .img-wrapper {
          width: 250px;
          height: 250px;
          line-height: 250px;
        }
        .txt {
          margin : 10px 0 40px;
        }
      }
    }
  }
}
