.page-type {
    .col-right {
        flex-direction         : column;
        -webkit-flex-direction : column;
        .block-featured-list,
        .block-slider {
            padding   : 0;
            margin    : auto;
            max-width : 700px;
            padding: 0 15px;
        }
        .block-featured-list {
            font-family : Roboto;
            .block-heading {
                margin-bottom: 40px;
                font-family: Circular;
                font-weight: 700;
                font-size: 80px;
                color: #FFFFFF;
                letter-spacing: -0.83px;
                line-height: 82px;
            }
            .block-content {
                font-family: Roboto;
                font-weight: 400;
                font-size: 17px;
                color: #FFFFFF;
                letter-spacing: 0.04px;
                line-height: 23px;
            }
            .block-action {
                .btn {
                    padding: 18px 60px;
                    background: rgba(56, 49, 77, 0.42);
                    border-radius: 13px;
                    font-family: Lato;
                    font-weight: 900;
                    font-size: 22px;
                    color: #FFFFFF;
                    letter-spacing: -0.09px;
                    text-transform: none;
                }
            }
        }
        .block-slider {
            margin-top: 70px;
            font-family : Roboto;
            text-align  : center;
            .slick-prev,
            .slick-next {
                top: 20%;
            }
            .item {
                .summary {
                    font-family: Lato;
                    font-style: italic;
                    font-weight: 400;
                    font-size: 17px;
                    color: #FFFFFF;
                    letter-spacing: -0.05px;
                    line-height: 25px;
                }
                .item-heading {
                    font-family: Circular;
                    font-weight: 700;
                    font-size: 35px;
                    color: #FFFFFF;
                    letter-spacing: -1.5px;
                    line-height: 39px;
                }
                .item-description {
                    margin: 40px auto;
                    font-family: Lato;
                    font-weight: 400;
                    font-size: 16px;
                    color: #FFFFFF;
                    letter-spacing: -0.05px;
                    line-height: 25px;
                }
                .btn {
                    opacity: 0.56;
                    background: #FFFFFF;
                    border-radius: 100px;
                    font-family: Circular;
                    font-weight: 500;
                    font-size: 14px;
                    color: #48426A;
                    letter-spacing: 2.82px;
                    line-height: 23px;
                    text-transform: uppercase;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .page-type {
        .col-right {
            .block-featured-list {
                .block-heading {
                    font-size : 33px;
                }
                .block-action {
                    .btn {
                        font-size : 18px;
                    }
                }
            }
        }
    }
}