footer {
  display: flex;
  position: fixed;
  padding: 0 $padding-lg;
  bottom: 0;
  left: 0;
  right: 0;
  background: #182738;
  .copy-right,
  .address,
  .contact-number {
    margin: 10px;
    display: inline-block;
    color: #fff;
    font-size: 12px;
  }
  a {
    color: #fff;
    &:first-child {
      padding-right: 40px;
    }
  }
  .address {
    flex-grow: 1;
  }
}

@include bp(max-width, $screen-md-max) {
  footer {
    padding: 0 $padding-md;
  }
}

@include bp(max-width, $screen-sm-max) {
  footer {
    position: relative;
    flex-flow: row wrap;
    .copy-right,
    .address,
    .contact-number {
      margin: 5px;
    }
  }
}