header {
  width: 100%;
  .fa {
    color: $c-grey
  }
  button:active {
    outline: 0;
  }
  .navbar {
    margin-bottom: 0;
    height: 50px;
    width: 100%;
    display: flex;
    border-top: 1px solid $c-grey;
    border-bottom: 1px solid $c-grey;
    background: #fff;
    .offcanvas-menu-toggle,
    .setting-toggle {
      width: 55px;
      border: 0;
      background: #fff;
    }
    .offcanvas-menu-toggle {
      border-right: 1px solid $c-grey;
    }
    .setting-toggle {
      border-left: 1px solid $c-grey;
    }
    .search-form {
      position: relative;
      flex-grow: 1;
      border: 0;
      i {
        position: absolute;
        top: 50%;
        left: 0;
        width: 55px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
      }
      .form-control {
        height: 46px;
        border: 0;
        text-indent: 55px;
        background: transparent;
        padding-left: 0;
      }
    }
  }
}

@include bp(max-width, $screen-md-max) {
  header {

  }
}