.block-typcial {
    .txt-md {
        margin-bottom  : 30px;
        font-family    : Circular;
        font-weight    : 500;
        font-size      : 26px;
        color          : #a4a7bf;
        letter-spacing : -1.1px;
        line-height    : 28px;
    }
    .txt-lg {
        margin-bottom  : 70px;
        font-family    : Circular;
        font-weight    : 700;
        font-size      : 58px;
        color          : #343146;
        letter-spacing : -3px;
        line-height    : 60px;
    }
    .txt-sm {
        margin-bottom  : 150px;
        font-family    : Circular;
        font-weight    : 300;
        font-size      : 17px;
        color          : #4a4263;
        letter-spacing : -0.4px;
        line-height    : 27px;
    }
}